nav{
    /*margin-bottom: 3%;*/
    height: 60px;
}

.input-field{
    color: white;
}

input[type="search"] {
  height: 60px;  
}

input[type="search"]:hover {
    cursor: pointer;
}

input[type="search"]:focus { 
    background-color:black;
    color: white;
}

input:-webkit-autofill{
    background-color:black;
    color: white;
}

.small-form{
    height: 50px !important;
}