nav{
    /*margin-bottom: 3%;*/
    height: 50px;
}

.input-field{
    color: white;
}

input[type="search"] {
  height: 60px;  
  margin-bottom: 0;
}

input[type="search"]:hover {
    cursor: pointer;
}

input[type="search"]:focus { 
    background-color:black;
    color: white;
}

input:-webkit-autofill{
    background-color:black;
    color: white;
}

.dropdown-content{
    min-width: 150px;
}

.small-form{
    height: 50px !important;
}


@media only screen and (max-width: 400px) {
    nav {
        height: 30px;
    }

    input[type="search"] {
        height: 30px;  
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        height: 40px;
    }

    input[type="search"] {
        height: 40px;  
        margin-bottom: 0;
    }
}