 <nav class=' '>
    <div class="nav-wrapper black lighten-2 red-text">
      <a href="#" class="brand-logo">NoobFlix</a>
      <ul id="nav-mobile" class="right ">
        <!--<button (click)='logIn()'>Log In</button>-->
        <li><a routerLink='/hello'>hello</a></li>
        <li><a href='/login'>Register/ Log In</a></li>
        
        <!--<li *ngIf='!user'><a (click)='authService.login()'>Register/Log In</a></li>-->
        <li *ngIf='user'><a (click)='authService.logout()'>Log Out</a></li>
        
        
      </ul>
    </div>
  </nav>