<nav class=''>
  <div class="nav-wrapper  black lighten-2 white-text ">
    <div class="row hide-on-small-only">

      <div class="col s4">
        <a routerLink="/" class="brand-logo left">NoobFlix</a>
      </div>


      <div class="col s4">
        <form class='' (ngSubmit)="searchSubmit()" [formGroup]="searchForm">
          <div class="input-field">
            <input id="search" type="search" class="center-align" placeholder="Search" required formControlName="search" autocomplete="off">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>


      <div class="col s4 ">
        
        <ul id="nav-mobile" class="right ">
          <li *ngIf='!user; else userIsOn'><a href='/login'>Register/ Log In</a></li>

          <ng-template #userIsOn>
            <li><a [routerLink]="['/user', authService.user._id]">{{ authService.user.userName }}</a></li>
            <li><a href='/logout'>Log Out</a></li>
          </ng-template>
        </ul>
        

      </div>
    </div>
        <a style="cursor: pointer;" data-activates="dropdown1" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">First</a></li>
        <li><a href="#!">Second</a></li>
        <li><a href="#!">Third</a></li>
        <li><a href="#!">Fourth</a></li>
      </ul>
 </div> 
</nav>





