.static-banner{
    height: 70vh;
    width: 100%;
    position: relative;
    margin-bottom: 3%;
    /*background: url('https://image.tmdb.org/t/p/w640/qedJJ2z9oBYKxxO4Pp8qAkfgPst.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
}

.static-image{
    width: 100%;
}

img{
    height: 70vh;
    width: 100%;
}

.static-banner .text{
    position: absolute;
    top: 50%;
    left: 10%;

}