<div class="static-banner" >
  <img class='responsive-img static-image' src='https://i.ytimg.com/vi/GzorZUuZqEI/maxresdefault.jpg' alt="">
  <div class="text">
    <h3>The Mummy</h3>
    <a routerLink="/movie/282035"class="waves-effect waves-light btn red"><i class="material-icons left">play_arrow</i>Play</a>
  </div>
</div>

<!--<div class="static-banner" >
  <img class='responsive-img' src="{{ imageUrl + movie[random].backdrop_path }}" alt="">
  <div class="text">
    <h3>{{ movie[random].title }}</h3>
    <a class="waves-effect waves-light btn red"><i class="material-icons left">play_arrow</i>Play</a>
  </div>
</div>-->