<div class="container">
  <div *ngIf='movie'>
    <div class="row">
      <div class="col m6 s12">
        <img class='responsive-img' src="{{ imageUrl + movie.poster_path  }}" alt="">
      </div>
      <div class="col m6 s12">
        <h3 *ngIf="movie.title"><strong>{{ movie.title }}</strong></h3>
        <h3 *ngIf="movie.name"><strong>{{ movie.name }}</strong></h3>

        <h5><strong>Rating:</strong></h5>
        <i class="material-icons">grade </i>
        <h4 style="display: inline;">{{ movie.vote_average }}</h4>
        <br>
        <h5><strong>Overview: </strong></h5>
        <p>{{ movie.overview | truncate }}</p>
        <br>
        <br>

        <div class="row valign-wrapper">

          <ng-container *ngIf='authService.isAuthenticated() && !userLiked'>
            <div class="col s3">
              <a class="btn-floating btn-large waves-effect waves-light red" (click)="addToList()">
                <i class="material-icons">thumb_up</i>
              </a>
            </div>
            <div class="col s6">
              <h5>Add To My List</h5>
            </div>
          </ng-container>


          <!--change to !isAuth &&, movie id isnt in array-->
          <ng-container *ngIf='authService.isAuthenticated() && userLiked'>
            <div class="col s3">
              <a class="btn-floating btn-large waves-effect waves-light red" (click)="removeFromList()"><i class="material-icons">thumb_down</i></a>
            </div>
            <div class="col s6">
              <h5>Remove From My List</h5>
            </div>
          </ng-container>
          <div class="col s3"></div>
        </div>

        <br>

        <h5 *ngIf="!authService.isAuthenticated()">Log In To Add To Your List</h5>


      </div>
    </div>

    <div class="row">
      <div class="col m3" *ngFor='let cast of cast; let i = index'>
        <div class="card">
          <div class="card-image">
            <img src="{{ imageUrl + cast.profile_path}}">
            <span class="card-title">{{ cast.name }}</span>
          </div>
          <div class="card-content">
            <p class='cast-name'>{{ cast.name }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row col m12" >
      <div class="video-container" *ngIf="movie.videos.results.length > 0">
        <iframe width="650" height="480" [src]="trailerUrl" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <!--<h2 class='center-align' *ngIf="!movie">No Movie Data Available</h2>-->
</div>