

/*.carousel{
  overflow: auto;
}*/
a{
    width: 275px !important;
    height: 400px ;
}
img{
  width: 275px;
  max-height: 100%;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #333;
}
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}